body{
	color: #777;	
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji" !important;
    font-size: 16px!important;
    line-height: 21px!important;
}
.top-row {
    border-bottom: 1px solid #fff;
    width: 100%;
    margin-bottom: -1px;
    background-color: rgba(255, 255, 255, 0.4);	
    background: #ecebe9 url(../images/pattern1.jpg) repeat;
}
.logo-align {
    text-align: left;
}
.logo-style {
    width: 84%;
    margin-left: -15px;
}


/* top */
.top-row {
	border-bottom: 1px solid #fff;
	width: 100%;
	margin-bottom: -1px; 
	background-color: rgba(255, 255, 255, 0.4);
}
.owned {
	font-size: 12px;
	margin-top: 5px;
	color: #222;
}
.owned a, .owned a:hover {
	color: #da552f!important;
	text-decoration: none;
}
.owned img {
	width: 40px!important;
}
.top-nav {
	padding: 0px!important;
}
.top-nav a {
	color: #111!important;
}
.fhir-list-row {
}
.fhir-list-row .blog-card {
	border-radius: 0rem!important;
	margin-top: 0px!important;
	margin-bottom: 19px!important;
	border: 1px solid #e8e8e8!important;
	box-shadow: 0 0.5rem 1rem 0 rgba(0,0,0,0.05), 0 0.3rem 0.3rem -0.1rem rgba(0,0,0,0.1)!important;
	flex-direction: row!important;
}
.fhir-list-row .blog-card .card-title {
	margin-top: 5px!important;
	margin-bottom: 5px!important;
	color: #333;
	font-size: 1.27rem!important;
}
.fhir-list-row .blog-card .card-title a {
	color: #333!important;
}
.fhir-list-row .blog-card .card-text {
	margin-top: 0!important;
	margin-bottom: 15px!important;
}
.card-img {
	width: 20em;
}
.single-blog-card {
	border-radius: 0rem!important;
	margin-top: 0px!important;
	border: 1px solid #e8e8e8!important;
	box-shadow: 0 0.5rem 1rem 0 rgba(0,0,0,0.1), 0 0.3rem 0.3rem -0.1rem rgba(0,0,0,0.1)!important;
	color: #333;
}
.single-blog-card .post {
	margin-top: 0px!important;
	margin-bottom: 0px!important;
}
.single-blog-card .post-title {
	font-size: 24px;
	font-weight: 500;
	margin-bottom: 5px!important;
}
.single-blog-card h2, .single-blog-card h3 {
	font-size: 20px;
	font-weight: 500;
	margin-bottom: 5px!important;
}
.single-blog-card .post-header {
	margin: 0 0 1.5em 0;
	padding-bottom: 16px;
	border-bottom: 1px solid #e8e8e8;
}

.member-col {
	width: auto;
	/*width:50%;*/
	float:left;
	margin-left: 8px;
	margin-top: 2px;
}
.offerings-col {
	width: auto;
	/*width:42%;*/
	float:left;
	text-align: left;
}
.offerings-col .loggedinoffer {
    top: 5px!important;
}
.member-col .login-bt  {
	margin-top:0px!important;
}

.login-bt {
    color: #000!important;
    border: 1px solid #d0d0d0!important;
    padding: 3px 10px 5px 10px;
    font-size: 13px;
    font-weight: 400;
    border-radius: 3px;
    margin-top: 2px;
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
}
.login-bt:hover, .login-bt:focus, .login-bt:active {
    color: #000!important;
    background: #e8e8e8!important;
    text-decoration: none;
}


.admin-area {
	float: right;
    text-align: right;
    margin-left: 10px;
    /* margin-top: -5px; */
    /* width: 62%; */
    width: auto;
}
#custom-search-input {
    margin: 0;
    margin-top: 11px;
    padding: 0;
}
.add-offer-zone {
    text-align: right;
    display: block!important;
}
.add-offer-zone span {
    display: inline-block!important;
}
.addoffer-col {
    margin-right: 4px;
    position: relative;
    top: 0px;
}
#custom-search-input button {
    border: 0;
    background: none;
    padding: 2px 5px;
    margin-top: 4px;
    position: relative;
    /* left: -30px; */
    margin-bottom: 0;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    color: #9e9e9e;
}
.add-offer-zone .post-bt {
    width: 125px!important;
    padding: 6px 10px 9px 10px!important;
}
.add-offer-zone .post-bt {
    font-size: 12px!important;
    color: #fff!important;
    border: 1px solid #329F4D!important;
        padding: 6px 10px 9px 10px!important;
    outline: 0px!important;
    margin-top: 0px!important;
    cursor: pointer!important;
	background: #329F4D!Important;
	text-transform: uppercase;
}
.add-offer-zone span {
    display: inline-block!important;
}
.log-bt-col {
    margin-left: 15px;
    margin-right: 5px;
}

.search-align {
    margin-right: 50px!important;
}
.companies-lists {
    float: right;
    text-align: right;
	width:200px;
}
.input-group {
    position: relative;
    display: table;
    border-collapse: separate;
}
.input-group {
    display: flex!important;
}

#custom-search-input .search-query {
	box-shadow: inset 0 0px 0px rgba(0,0,0,.075)!important;
	font-weight: 400!important;
    line-height: 1.5!important;
    color: #495057!important;
}

#custom-search-input .btn {
    font-size: 16px!important;
    line-height: 24px!important;
    margin-left: -3px!important;
	    padding: 6px 12px!important;
		background:#fff;
		margin-top: 1px;
}
#custom-search-input button {
    border: 0;
    background: none;
    padding: 2px 5px;
    margin-top: 4px;
    position: relative;
    /* left: -30px; */
    margin-bottom: 0;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    color: #9e9e9e;
}
.input-group-btn:last-child>.btn, .input-group-btn:last-child>.btn-group {
    z-index: 2;
    margin-left: -1px;
}


.search-align .search-query {
    width: 150px!important;
}

.navbar-nav>li>a.menu-selected {
    border-top: 3px solid #000;
    background: rgba(255, 255, 255, 0.5);
    padding-top: 6px!Important;
    color: #000!important;
}
.b-t-1 {
    border-top: 1px solid #ddd;
}
@media (max-width:575px) {
	#custom-search-input .input-group-btn {
		margin-left: -25px!important;
	}
	#custom-search-input .btn {
		margin-left: -15px!important;
	}
	.landing-offer-col img {
		width: inherit;
	}
	.landing-offer-ttl {
		margin-top: 7px;
	}
}


/************ top banner **************/


.top-banner {
    /* min-height: 490px; */
    width: 100%;
    background-size: cover!important;
    background-repeat: no-repeat!important;
    background-position: center!important;
	font-family: "Segoe UI", 'Oxygen', sans-serif;
	color:#fff;
	text-align:center;
	padding:60px 0px;
}
.top-banner .banner-titles{
		margin-bottom:30px;
		padding-bottom:30px;
		position:relative;
}
.top-banner .banner-titles h2{
		font-size:46px;
		text-transform:uppercase;
		font-weight:700;
	
}
.top-banner .banner-titles p {
		font-size:30px;
		text-transform:uppercase;
		font-weight:700;	
}
.top-banner .banner-titles:after{
	content:"";
	width:60px;
	height:5px;
	background:#000;
	margin:0px auto;
	left:0px;
	right:0px;
	display:block;
	position:absolute;
	bottom:0px;
}
.top-banner  .banner-cont{
	width:50%;
	margin:0px auto;
	font-size:20px;
	line-height:1.2em;
	padding-bottom:15px;
}
.btn-green{
	background:#3a9e53;
	color:#fff;	
	font-family: "Segoe UI", 'Oxygen', sans-serif;
	font-size:16px;
	font-weight: 600;
    text-transform: uppercase;
    padding: 6px 18px;
    border-radius: 4px;
    margin: 0px 5px;
	text-decoration:none;
}
.btn-green:hover{
	background:#000;
	color:#fff;	
	text-decoration:none;
}
.post-list {
	margin:40px 0px;
}
.post-list .header{
	border-bottom:4px solid #d94d2e;
	font-size:18px;
	font-weight:600;
	color:#000;
	text-transform:uppercase;
}
.post-list.green .header{
	border-bottom:4px solid #409d58;
}
.post-list .header .post-icon{
	width: 40px;
    height: 40px;
    text-align: center;
    padding: 4px;
    background: #d94d2e;
    display: inline-block;
    margin-bottom: -3px;
    line-height: 25px;
    border-radius: 2px;
    margin-right: 5px;
}
.post-list.green  .header .post-icon{	
    background: #409d58;
}
.post-list .header .post-icon img{
	max-width:20px;
}
.post-list .header i
{
	color:#e9e9e9;
	float: right;
    text-align: right;
    line-height: 2em;
}
.posts-list{margin:0px; padding:0px;}
.posts-list li {
    overflow: hidden;
	border-bottom: 1px solid #eee;
    padding: 16px 0;
	line-height: 1.5;
}
.posts-list li:last-child{
	border:0px;
}
.posts-list li>a {
    margin-right: 15px;
    float: left;
    position: relative;
}
.posts-list .content {
    margin-left: 0;
    min-height: 0;
    border: 0;
	line-height: 1;
    overflow: hidden;
}
.posts-list .content>a {
    font-size: 13px;
    font-weight: 500;
    -webkit-font-smoothing: antialiased;
	vertical-align:top;
	color:#777777;
}
.posts-list img {
    float: left;
    width: 85px;
    height: auto;
}

.posts-list.box li{
	background:#fff;
	border:1px solid #ececec;
	padding:12px;
	margin-top:15px;
}
.posts-list.box .calender{	
    margin-right: 15px;
    float: left;
    position: relative;
	padding-bottom:5px;
}
.calender{	
	background:#e9e9e9;
	border-radius:4px;
	width:70px;
}

.calender .month{
	background: #409d58;
    color: #fff;
    display: block;
    text-align: center;
    font-size: 12px;
	border-radius: 4px 4px 0px 0px;
}
.calender .date{
color: #000;
    display: block;
    font-size: 28px;
    text-align: center;
    line-height: 1em;
    font-weight: 500;
}
.calender .day{
	color: #000;
    display: block;
    font-size: 12px;
    text-align: center;
}
