<section class="container-fluid categories">
    	<div class="container">
        	<div class="row">
            	<div class="col-md-4">
                	<div class="categorylisting">
                    	<div class="header">
							<span class="post-icon"> <img src="images/contributed.png" alt="latest"></span> Contributed Content <a href="#"><i class="fas fa-chevron-right"></i></a>
						</div>
                        
                        <div class="contentpart">
                        	<ul>
                            	<li>
                                	<div class="imgleft"><img src="images/img1.jpg" alt=""></div>
                                    <div class="imgcontent">
                                    	<p>Threat intelligence analyst documents, assesses 117 healthcare ransomware incidents</p>
                                    </div>
                                </li>
                                <li>
                                	<div class="imgleft"><img src="images/img1.jpg" alt=""></div>
                                    <div class="imgcontent">
                                    	<p>Threat intelligence analyst documents, assesses 117 healthcare ransomware incidents</p>
                                    </div>
                                </li>
                                <li>
                                	<div class="imgleft"><img src="images/img1.jpg" alt=""></div>
                                    <div class="imgcontent">
                                    	<p>Threat intelligence analyst documents, assesses 117 healthcare ransomware incidents</p>
                                    </div>
                                </li>
                                <li>
                                	<div class="imgleft"><img src="images/img1.jpg" alt=""></div>
                                    <div class="imgcontent">
                                    	<p>Threat intelligence analyst documents, assesses 117 healthcare ransomware incidents</p>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                
                <div class="col-md-4">
                	<div class="categorylisting">
                    	<div class="header">
							<span class="post-icon"> <img src="images/infographics.png" alt="latest"></span> Infographics <a href="#"><i class="fas fa-chevron-right"></i></a>
						</div>
                        
                        <div class="contentpart">
                        	<ul>
                            	<li>
                                	<div class="imgleft"><img src="images/img1.jpg" alt=""></div>
                                    <div class="imgcontent">
                                    	<p>Threat intelligence analyst documents, assesses 117 healthcare ransomware incidents</p>
                                    </div>
                                </li>
                                <li>
                                	<div class="imgleft"><img src="images/img1.jpg" alt=""></div>
                                    <div class="imgcontent">
                                    	<p>Threat intelligence analyst documents, assesses 117 healthcare ransomware incidents</p>
                                    </div>
                                </li>
                                <li>
                                	<div class="imgleft"><img src="images/img1.jpg" alt=""></div>
                                    <div class="imgcontent">
                                    	<p>Threat intelligence analyst documents, assesses 117 healthcare ransomware incidents</p>
                                    </div>
                                </li>
                                <li>
                                	<div class="imgleft"><img src="images/img1.jpg" alt=""></div>
                                    <div class="imgcontent">
                                    	<p>Threat intelligence analyst documents, assesses 117 healthcare ransomware incidents</p>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                
                <div class="col-md-4">
                	<div class="categorylisting">
                    	<div class="header">
							<span class="post-icon"> <img src="images/curated.png" alt="latest"></span> Curated News <a href="#"><i class="fas fa-chevron-right"></i></a>
						</div>
                        
                        <div class="contentpart">
                        	<ul>
                            	<li>
                                	<div class="imgleft"><img src="images/img1.jpg" alt=""></div>
                                    <div class="imgcontent">
                                    	<p>Threat intelligence analyst documents, assesses 117 healthcare ransomware incidents</p>
                                    </div>
                                </li>
                                <li>
                                	<div class="imgleft"><img src="images/img1.jpg" alt=""></div>
                                    <div class="imgcontent">
                                    	<p>Threat intelligence analyst documents, assesses 117 healthcare ransomware incidents</p>
                                    </div>
                                </li>
                                <li>
                                	<div class="imgleft"><img src="images/img1.jpg" alt=""></div>
                                    <div class="imgcontent">
                                    	<p>Threat intelligence analyst documents, assesses 117 healthcare ransomware incidents</p>
                                    </div>
                                </li>
                                <li>
                                	<div class="imgleft"><img src="images/img1.jpg" alt=""></div>
                                    <div class="imgcontent">
                                    	<p>Threat intelligence analyst documents, assesses 117 healthcare ransomware incidents</p>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            	<div class="col-md-4">
                	<div class="categorylisting">
                    	<div class="header">
							<span class="post-icon"> <img src="images/contributed.png" alt="latest"></span> Contributed Content <a href="#"><i class="fas fa-chevron-right"></i></a>
						</div>
                        
                        <div class="contentpart">
                        	<ul>
                            	<li>
                                	<div class="imgleft"><img src="images/img1.jpg" alt=""></div>
                                    <div class="imgcontent">
                                    	<p>Threat intelligence analyst documents, assesses 117 healthcare ransomware incidents</p>
                                    </div>
                                </li>
                                <li>
                                	<div class="imgleft"><img src="images/img1.jpg" alt=""></div>
                                    <div class="imgcontent">
                                    	<p>Threat intelligence analyst documents, assesses 117 healthcare ransomware incidents</p>
                                    </div>
                                </li>
                                <li>
                                	<div class="imgleft"><img src="images/img1.jpg" alt=""></div>
                                    <div class="imgcontent">
                                    	<p>Threat intelligence analyst documents, assesses 117 healthcare ransomware incidents</p>
                                    </div>
                                </li>
                                <li>
                                	<div class="imgleft"><img src="images/img1.jpg" alt=""></div>
                                    <div class="imgcontent">
                                    	<p>Threat intelligence analyst documents, assesses 117 healthcare ransomware incidents</p>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                
                <div class="col-md-4">
                	<div class="categorylisting">
                    	<div class="header">
							<span class="post-icon"> <img src="images/infographics.png" alt="latest"></span> Infographics <a href="#"><i class="fas fa-chevron-right"></i></a>
						</div>
                        
                        <div class="contentpart">
                        	<ul>
                            	<li>
                                	<div class="imgleft"><img src="images/img1.jpg" alt=""></div>
                                    <div class="imgcontent">
                                    	<p>Threat intelligence analyst documents, assesses 117 healthcare ransomware incidents</p>
                                    </div>
                                </li>
                                <li>
                                	<div class="imgleft"><img src="images/img1.jpg" alt=""></div>
                                    <div class="imgcontent">
                                    	<p>Threat intelligence analyst documents, assesses 117 healthcare ransomware incidents</p>
                                    </div>
                                </li>
                                <li>
                                	<div class="imgleft"><img src="images/img1.jpg" alt=""></div>
                                    <div class="imgcontent">
                                    	<p>Threat intelligence analyst documents, assesses 117 healthcare ransomware incidents</p>
                                    </div>
                                </li>
                                <li>
                                	<div class="imgleft"><img src="images/img1.jpg" alt=""></div>
                                    <div class="imgcontent">
                                    	<p>Threat intelligence analyst documents, assesses 117 healthcare ransomware incidents</p>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                
                <div class="col-md-4">
                	<div class="categorylisting">
                    	<div class="header">
							<span class="post-icon"> <img src="images/curated.png" alt="latest"></span> Curated News <a href="#"><i class="fas fa-chevron-right"></i></a>
						</div>
                        
                        <div class="contentpart">
                        	<ul>
                            	<li>
                                	<div class="imgleft"><img src="images/img1.jpg" alt=""></div>
                                    <div class="imgcontent">
                                    	<p>Threat intelligence analyst documents, assesses 117 healthcare ransomware incidents</p>
                                    </div>
                                </li>
                                <li>
                                	<div class="imgleft"><img src="images/img1.jpg" alt=""></div>
                                    <div class="imgcontent">
                                    	<p>Threat intelligence analyst documents, assesses 117 healthcare ransomware incidents</p>
                                    </div>
                                </li>
                                <li>
                                	<div class="imgleft"><img src="images/img1.jpg" alt=""></div>
                                    <div class="imgcontent">
                                    	<p>Threat intelligence analyst documents, assesses 117 healthcare ransomware incidents</p>
                                    </div>
                                </li>
                                <li>
                                	<div class="imgleft"><img src="images/img1.jpg" alt=""></div>
                                    <div class="imgcontent">
                                    	<p>Threat intelligence analyst documents, assesses 117 healthcare ransomware incidents</p>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
				
				
            </div>
        </div>
    </section>