<footer>
	<div class="container">
		<div class="row footer-skin-row-1">
			<div class="col-md-4 footer-skin-row-1-col-1">
              <h5>Medigy Innovation Network</h5>
              <p>Connecting innovation decision makers to authoritative information, institutions, people and insights.</p>
				<ul>
					<li><a id="About_Us_Footer" href="/about-us">About Us</a></li>
					<li> <a id="Contact_Us_Footer" target="_blank" href="https://www.netspective.media/#contact-us">Contact Us</a></li>
				</ul>
              <span class="footer-skin-logo"><a href="/" title="Medigy"><img src="/images/medigy-footer-logo.png"></a></span>
            </div>
			<div class="col-md-4 footer-skin-row-1-col-1">
				<h5>The latest News, Insights &amp; Events</h5>
                <p>Medigy accurately delivers healthcare and technology information, news and insight from around the world.</p>
				  <ul>
					  <li><span class="foot-menu-width"><a id="News_Footer" href="/news">News</a></span> <span class="foot-menu-width cap"><a id="AddNews_Footer" href="/add-suggest">Curate News</a></span></li>
					  <li><span class="foot-menu-width"><a id="Events_Footer" href="/events">Events</a></span> <span class="foot-menu-width cap"><a id="AddEvents_Footer" href="/add-suggest">Add Event</a></span></li>
					  <li><span class="foot-menu-width"><a id="Awards_Footer" href="/recognition/awards/">Awards</a></span> <span class="foot-menu-width cap"><a id="AddAwards_Footer" href="/add-suggest">Add Recognition</a></span></li>
					  <li><span class="foot-menu-width"><a id="Feeds_Footer" href="/feed/latest">Feeds</a></span> <span class="foot-menu-width cap"><a id="AddFeeds_Footer" href="/add-suggest">Suggest Feed</a></span></li>
					  <li></li>
				  </ul>
            </div>
			
			<div class="col-md-4 footer-skin-row-1-col-1">
              <h5>The best products, services &amp; solutions</h5>
              <p>Medigy surfaces the world’s best crowdsourced health tech offerings with social interactions and peer reviews.</p>
				<ul>
						<li><a id="Daily_Brief_Footer" href="/brief/daily/offerings/discovered/">Daily Brief</a></li>
						
						<li><a id="Categories_Footer" href="/topics">Topics</a></li>
						<li><a id="Evaluation_Facets_Footer" href="/evaluation-facets">Evaluation Facets</a></li>
					</ul>
            </div>
			
		</div>
	</div>
   
   <div class="footer-skin-row-2">
        <div class="container">
       <div class="row">
                  <div class="col-lg-6 col-md-6">
    
                  © 2020 Netspective Media LLC. All Rights Reserved.<br>Built on Jan 7, 2020 at 4:47am 
                  

              </div>
              <div class="col-lg-6 col-md-6 footer-skin-social">
                <span>
                  <a id="Twitter_Social_Footer" target="blank" href="https://twitter.com/Medigy1" itemprop="sameAs">
                  <img src="/images/icon-twitter.png"></a>
                </span> 
                <span>
                  <a id="LinkedIn_Social_Footer" target="blank" href="https://www.linkedin.com/company/14692561/" itemprop="sameAs">
                  <img src="/images/icon-linkedin.png"></a>
                </span> 
                <span>
                  <a id="Facebook _Social_Footer" target="blank" href="https://www.facebook.com/Medigy-348891592466008/" itemprop="sameAs">
                  <img src="/images/icon-facebook.png"></a>
                </span>
              </div>
              
            </div>
          </div>   
      </div>
  </footer>
  
  {{ partial "scripts.html" . }}

