<div class="post-list">	
	<div class="header">
		<span class="post-icon"> <img src="/images/latest-news.png" alt="latest"></span> 	Latest News <a href="#"><i class="fas fa-chevron-circle-right"></i></a>
	</div>	
	<div class="content">
		<ul class="posts-list">
			<li>
				<a href="#">
					<img src="/images/latest-1.jpg" alt="lates">
				</a>
				<div class="content">
					<a href="#">
						Some ONC-Certified EHRs Could Cause Patient Harm, Study Shows
					</a>
				</div>
			</li>
			<li>
				<a href="#">
					<img src="/images/latest-1.jpg" alt="lates">
				</a>
				<div class="content">
					<a href="#">
						Some ONC-Certified EHRs Could Cause Patient Harm, Study Shows
					</a>
				</div>
			</li>
			<li>
				<a href="#">
					<img src="/images/latest-1.jpg" alt="lates">
				</a>
				<div class="content">
					<a href="#">
						Some ONC-Certified EHRs Could Cause Patient Harm, Study Shows
					</a>
				</div>
			</li>
			<li>
				<a href="#">
					<img src="/images/latest-1.jpg" alt="lates">
				</a>
				<div class="content">
					<a href="#">
						Some ONC-Certified EHRs Could Cause Patient Harm, Study Shows
					</a>
				</div>
			</li>
		</ul>
	</div>
</div>