<article class="top-banner" style="background: url(images/banner.jpg)">
    <div class="landing-top-bnr-content">
		<div class="banner-titles">
			<h2>Security</h2>
			<p id="typewriter">Community Of Practice</p>        
		</div>
		<div class="banner-cont">
          <p>Built by cybersecurity practitioners, the Security CoP contains valuable resources such as curated articles, original contributions, news and events from the cybersecurity space.</p>
        </div>
		<div class="banner-button">
			<a href="#" class="btn-green">
			  Join Us
			</a>
			<a href="#" class="btn-green" target="_blank">
			  Login
			</a>
		</div>
      </div>
</article>