<div class="post-list green">	
	<div class="header">
		<span class="post-icon"> <img src="/images/cal.png" alt="latest"></span> 	Latest News <a href="#"><i class="fas fa-chevron-circle-right"></i></a>
	</div>	
	<div class="content">
		<ul class="posts-list box">
			<li>
				<div class="calender">
					<span class="month">January</span>
					<span class="date">11</span>
					<span class="day">Saturday</span>
				</div>				
				<div class="content">
					<div class="title">
						<a href="#">
							PrecisionPoint Transperineal Access System
						</a>
					</div>
					<div class="date">
						<i class="fas fa-calendar-alt"></i>  January 11, 20202 (in 12 Days)
					</div>
					<div class="location">
						<i class="fas fa-map-marker-alt"></i> <em>Southmead Hospital, Southmead Road, Westbury</em>
					</div>
				</div>
			</li>
			<li>
				<div class="calender">
					<span class="month">January</span>
					<span class="date">16</span>
					<span class="day">Thursday</span>
				</div>				
				<div class="content">
					<div class="title">
						<a href="#">
							PrecisionPoint Transperineal Access System
						</a>
					</div>
					<div class="date">
						<i class="fas fa-calendar-alt"></i>  January 11, 20202 (in 12 Days)
					</div>
					<div class="location">
						<i class="fas fa-map-marker-alt"></i> <em>Southmead Hospital, Southmead Road, Westbury</em>
					</div>
				</div>
			</li>
			<li>
				<div class="calender">
					<span class="month">January</span>
					<span class="date">27</span>
					<span class="day">Monday</span>
				</div>				
				<div class="content">
					<div class="title">
						<a href="#">
							PrecisionPoint Transperineal Access System
						</a>
					</div>
					<div class="date">
						<i class="fas fa-calendar-alt"></i>  January 11, 20202 (in 12 Days)
					</div>
					<div class="location">
						<i class="fas fa-map-marker-alt"></i> <em>Southmead Hospital, Southmead Road, Westbury</em>
					</div>
				</div>
			</li>
		</ul>
	</div>
</div>